.App {
  text-align: center;
  position: absolute;
  background-color: yellow;
  width: 100%;
  height: 100%;

}

.minus{
  
  background-color: red;
  flex-direction: row;
  margin-left: 20px;
  width: 50px;
  border-color: black;
  border-radius: 15%;
  padding: 2px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  cursor: pointer;


  

}
.plus{
  background-color: red;
  width: 50px;
flex-direction: row;
height: 25px;
border-color: black;
border-radius: 15%;
padding: 2px;
text-align: center;
font-weight: bold;
font-size: large;
cursor: pointer;
}
.minus:hover{
opacity: 0.5;
}

.plus:hover{
  opacity: 0.5;

}
